html {
    -webkit-text-size-adjust: none;
}

#customPageWrap, #customPageHeader, #customPageHeader img {
    width: 100%;
}

.one-day-deal {
    width: 100%;
    flex-wrap: wrap;
}

.one-day-deal img {
    width: 100%;
    margin: 50px 0px 60px 0.625em;
    margin-bottom: 0px;
}

.productDescription{
    width: 100%;
    margin-left: 5px;
}

.one-day-deal a:link, .one-day-deal a:visited {
    width: 100%;
    max-width: 225px;
    margin-left: 5px;
    font-size: 1.3em;
}

.one-day-deal h2, .one-day-deal p {
    margin-left: 5px;        
}

.one-day-deal h2 {
    font-size: 1.610em;       
}

.one-day-deal p {
    margin-bottom: 30px;
}

